<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Javaculator 2.0</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="includes :: navbar"></div>
<div class="container">

    <div class="page-header">
        <h1 th:text="${operation_user.username} + ' calculations'"></h1>
    </div>

    <div style="color: red;font-size: 3em;" th:text="${error}"></div>

    <form th:action="'/operationCreate/' + @{${userId}}" method="post">


        <div class="row">
            <div class="col-md-3">
                <input class="form-control input-lg" type="text" name="firstNum" th:value="${resultsData}" autofocus="autofocus" placeholder="number"/>

            </div>
            <div class="col-md-3">
                <select class="form-control input-lg" name="operator" id="">
                    <option value="">Choose Operation</option>
                    <option value="+">Addition +</option>
                    <option value="-">Subtraction -</option>
                    <option value="X">Multiplication X</option>
                    <option value="/">Division /</option>
                    <option value="%">Remainder %</option>
                    <option value="^">Exponent ^</option>
                    <option value="left">Bitwise Shift Left </option>
                    <option value="right">Bitwise Shift Right </option>
                    <option value="XOR">XOR</option>
                </select>
            </div>
            <div class="col-md-3">
                <input class="form-control input-lg" type="text" name="secNum" placeholder="number"/>
            </div>



        <div class="col-md-3" >
            <input class="btn btn-primary btn-lg" type="submit" value="Equals"/>

        </div>
        </div>
    </form>
    <div th:each="operation : ${operation}">
        <h3 th:text="${operation.first_number} + ' ' + ${operation.operator} + ' ' + ${operation.second_number} + ' = ' + ${operation.solution}"></h3>
    </div>

    <span th:include="includes :: js"></span>
    <a class="btn btn-primary" role="button" style="position:fixed;bottom:20px;right:20px;margin:0;padding:5px 3px;" href="#top">GO TO TOP</a>

</div>
</body>

</html>